.aticleDetails{
    display: flex;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
}
.aticleDetailsLeft{
    flex: 1;
    overflow: hidden;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    line-height: 26px;
    backdrop-filter: blur(26px);
    animation-duration: 0.6s;
    border-radius: 15px;
}


.aticleDetailsRight{
    width: 250px;
    margin-left: 15px;
    /* background-color: #333; */
}
@media screen and (max-width: 760px) {
    .aticleDetailsRight {
        display: none;
    }
    .navBut {
        display: block;
    }
}
@media screen and (min-width: 760px) {
    .aticleDetailsRight {
        display: block;
    }
    .navBut {
        display: none;
    }
}
.navBut {
    cursor: pointer;
    background-color: rgb(75, 120, 187);
    background-image: url('../../public/images/ml.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
    position: fixed;
    width: 35px;
    height: 35px;
    right: 0;
    bottom: 80px;
    /* z-index: 130; */
}

.rightNavList {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 8000;
    width: 260px;
    height: 100vh;
    overflow-y: auto;
    background-color: rgb(50 50 50);
    font-size: 16px;
    box-shadow: -10px 0px 13px rgb(0 0 0 / 80%);
    animation-duration: 0.2s;
}

.rightNavList i {
    position: fixed;
    right: 260px;
    top: calc(50vh - 15px);
    cursor: pointer;
    list-style: none;
    font-size: 22px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}
.rightNavList i::after {
    content: '>';
}

.rightNavList h3 {
    line-height: 40px;
    padding-left: 10px;
    border-bottom: 1px solid #333;
}
.rightNavList span {
    cursor: pointer;
    padding-left: 15px;
    display: block;
}
.rightNavList span a {
    display: block;
    padding: 10px 0;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.aticleDetailsRight > div{
    background-color: rgb(0 0 0 / 60%);
    padding: 15px;
    overflow-y: auto;
    max-height: calc(100vh - 110px);
    box-shadow: 0px 0px 8px rgb(0 0 0 / 80%);
    border-radius: 15px;
}

.aticleDetailsRight span{
    cursor: pointer;
    display: block;
}

.aticleDetailsRight span a {
    display: block;
    /* line-height: 40px; */
    font-size: 14px;
    padding: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aticleDetailsRight span a:hover{
    color: rgb(52, 123, 231);
}
.aticleDetailsRight span ul span {
    padding-left: 15px;
    display: block;
}


.aticleDetailsNext {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aticleDetailsNext i {
    cursor: pointer;
}

.aticleDetailsHead {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    padding-bottom: 5px;
}

.aticleDetailsHead span{
    font-size: 14px;
    opacity: 0.6;
    margin-right: 22px;
    display: inline-block;
}
